body{
    background-color: rgba(154, 152, 149, 0.994);
}
section{
    position: absolute;
    margin: 5% 39% ;
}
.atribuicao{
    background-color: rgb(255, 255, 255);
    width: 22%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 15px;
    
}
.text{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
    
}
.text h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    
}
.text p{
    font-size: 14px;
    margin: 10px 0;
    padding: 0 50px;
    opacity: calc(50%);
}
.text p span{
    margin-left: 49px;
}
.imagem{
    background-color: blueviolet;
    width: 95%;
    height: 330px;
    border-radius: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.imagem img{
    max-width: 100%;
    border-radius: 15px;
}